<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/screen.css" media="screen" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    </head>
    <body data-instant-no-mousedown-shortcut>
        <a class="no-decoration" href="/">
        <p><strong class="green">root@odj.me:/#</strong>
        cat /proc/owain/state</p>
        <strong class="yellow">Mister Owain Daniel Jones</strong><br />
        Many-Stack Research Software Engineer
        </a>
        <div class='hr'></div>

