@import url('reset.css');
@import url('https://fontlibrary.org/face/fantasque-sans-mono');

body {
    font-family: "Fantasque Sans Mono", monospace;
    background: black;
    color: #ccc;
    font-size: 14pt;
    margin: 2ch auto;
    padding: 2ch;
    width: 60ch;
    line-height: 3ch;
    min-height: 48ch;
}

body.bright {
    background: #fdf6e3;
    color: #666;
}

h6, h5, h4, h3, h2, h1 { line-height: 3ch; clear: both; }

h6 { font-size: 110%; }
h5 { font-size: 120%; }
h4 { font-size: 135%; }
h3 { font-size: 170%; }
h2 { font-size: 200%; }
h1 { font-size: 250%; }

em {
    font-style: italic;
}

.sidenote {
    position: relative;
    margin-right: -36ch;
    float: right;
    opacity: .75;
    font-style: italic;
    max-width: 30ch;
}

/* Solarized colours :D */
.bg-15 { background-color: #002B36; }
.bg-20 { background-color: #073642; }
.bg-45 { background-color: #586E75; }
.bg-50 { background-color: #657B83; }
.bg-60 { background-color: #839496; }
.bg-65 { background-color: #93A1A1; }
.bg-92 { background-color: #EEE8D5; }
.bg-97 { background-color: #FDF6E3; }
.yellow { color: #B58900; }
.orange { color: #CB4B16; }
.red { color: #DC322F; }
.magenta { color: #D33682; }
.violet { color: #6C71C4; }
.blue { color: #268BD2; }
.cyan { color: #2AA198; }
.green { color: #859900; }

a:before { content: '['; opacity: .5; }
a:after { content: ']'; opacity: .5; }

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    color: #fff;
}
a.no-decoration:before { content: none; }
a.no-decoration:after { content: none; }

body.bright a:hover {
    color: #333;
}

.hr:before {
    display: block;
    clear: both;
    margin: 2ch 0px;
    opacity: .5;
    content: '--------------------------------------------------------------------------------';
    overflow: hidden;
    max-width: 60ch;
    white-space: nowrap;
}

p, ul, ol, ul.long li, ol.long li {
    margin-bottom: 2ch;
}

strong {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

ul li:before {
    content: '* ';
    margin-left: -2ch;
}

ul li, ol li {
    margin-left: 2ch;
}

ol {
    margin-left: 1ch;
    list-style: decimal;
}

.me {
    float: right;
    max-height: 24ch;
    max-width: 44vw;
    margin: 2ch 0px 2ch 2ch;
    image-rendering: crisp-edges;
}
.me-small {
    max-height: 8ch;
    margin: 0px 0px 0px 2ch;
}

@media(max-width: 80ch) {
    body {
        width: auto;
    }
}

@media(max-width: 130ch) {
    .sidenote {
        float: unset;
        max-width: unset;
        margin-right: unset;
    }
}
